@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    @apply font-sans;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[rgb(12,10,9)] text-white;
    margin: 0;
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  input {
    background: transparent;
    border: none;
  }

  input:focus {
    outline: none;
  }
}